In [ ]:
#project name= Paris House prediction using linear regression
#name = Divyanshu Tailor
#domain= Machine Learning

In [1]:
#importing the required libraries for the project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
#fetching the data from the system 
data = pd.read_csv("ParisHousing.csv")
data

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4,176425.9
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0,4448474.0
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9,8390030.5
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4,5905107.0
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6,146708.4

NameError: name 'data' is not defined

In [6]:
#filling the vacant spaces and filling it with the 0
data.fillna(0)

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4,176425.9
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0,4448474.0
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9,8390030.5
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4,5905107.0
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6,146708.4

In [7]:
#getting valueable insights from the dataset
data.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

In [23]:
#getting the attributes name
data.columns

Index(['squareMeters', 'numberOfRooms', 'hasYard', 'hasPool', 'floors',
       'cityCode', 'cityPartRange', 'numPrevOwners', 'made', 'isNewBuilt',
       'hasStormProtector', 'basement', 'attic', 'garage', 'hasStorageRoom',
       'hasGuestRoom', 'price'],
      dtype='object')

In [11]:
#initialising the independent attributes in x to presdict result
x=data[["squareMeters","numPrevOwners","numberOfRooms","hasGuestRoom","hasPool","hasStorageRoom","hasStormProtector","floors","cityCode","cityPartRange","isNewBuilt","made","basement","garage"]]
x

,squareMeters,numPrevOwners,numberOfRooms,hasGuestRoom,hasPool,hasStorageRoom,hasStormProtector,floors,cityCode,cityPartRange,isNewBuilt,made,basement,garage
0,75523,8,3,7,1,0,1,63,9373,3,0,2005,4313,956
1,80771,6,39,2,1,1,0,98,39381,8,1,2015,3653,128
2,55712,8,58,9,1,1,0,19,34457,6,0,2021,2937,135
3,32316,4,47,3,0,0,1,6,27939,10,0,2012,659,359
4,70429,7,19,4,1,1,0,90,38045,3,1,1990,8435,292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,6,89,4,1,0,1,5,73133,7,0,2009,9311,218
9996,44403,4,29,0,1,0,1,12,34606,9,0,1990,9061,230
9997,83841,10,3,9,0,1,1,69,80933,10,1,2005,8304,345
9998,59036,3,70,4,0,1,1,96,55856,1,0,2010,2590,339
9999,1440,10,84,6,0,1,0,49,18412,6,1,1994,8485,278

In [13]:
#dependent variable or target varibale
y= data["price"]
y

0       7559081.5
1       8085989.5
2       5574642.1
3       3232561.2
4       7055052.0
          ...
9995     176425.9
9996    4448474.0
9997    8390030.5
9998    5905107.0
9999     146708.4
Name: price, Length: 10000, dtype: float64

In [14]:
#initialising the linear regression model
model= LinearRegression()

In [15]:
#fitting the model across the x,y
model.fit(x,y)

LinearRegression()

In [17]:
#checking weights of the attributes
model.coef_

array([ 9.99996726e+01,  2.18662634e+00, -3.72237037e-01, -9.08058742e+00,
        3.02429855e+03, -9.05533122e+00,  1.18418053e+02,  5.45099297e+01,
       -4.56393622e-04,  4.97922279e+01,  1.32590767e+02, -2.02560208e+00,
       -6.84779946e-03,  8.82763194e-02])

In [18]:
#checking bias
model.intercept_

5935.4331228565425

In [20]:
#getting our price predicted
model.predict([[60000,3,5,3,1,0,2,23,9796,3,1,2003,3333,976]])

C:\Users\91800\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([6006691.65891986])